$body-background = scheme(#121212, #FDFDFD)
$body-foreground = scheme(#BABABA, #3B3B3B)
$font-weight = normal

$logo-foreground = scheme(white, black)

$tab-background = $body-background
$tab-foreground = scheme(#CACACA, #202020)
$tab-underline = scheme(#faebd7, #ffd298)
$tab-hover-background = scheme(#faebd7, #ffd298)
$tab-hover-foreground = scheme(black, black)
$tab-current-background = $body-background
$tab-current-foreground = scheme(white, black)

$link-foreground = scheme(#f7c684, #ff9000)
$link-underline = scheme(#f7c684, #ff9000)
$link-hover-foreground = scheme(black, black)
$link-hover-background = scheme(#f7c684, #faebd7)
$link-visited-foreground = scheme(#faebd7, #c46e00)
$link-visited-underline = scheme(#faebd7, #c46e00)

$footer-foreground = scheme(#707070, #C0C0C0)

$post-border = scheme(#050505, #F5F5F5)
$click-text = scheme(#505050, #D0D0D0)

$code-default-color = scheme(#d4d4d4, #A626A4)
$code-attribute-color = scheme(#d7ba7d, #C18401)
$code-selector-color = scheme(#569cd6, #526FFF)
$code-builtin-color = scheme(#569cd6, #0184BC)
$code-number-color = scheme(#b5cea8, #986801)
$code-block-border-color = scheme(darkgray, #F0F0F0)
$code-block-background-color = scheme(black, white)

$code-comment-color = scheme(#6A9955,  #50A14F)
$code-keyword-color = scheme(#569cd6, #526FFF)
$code-string-color = scheme(#ce9178,#ce9178)
$code-subst-color = scheme(#0e9178, #0184BC)
$code-function-color = scheme(#d4d4d4, #A626A4)
$code-title-color = scheme(#DCDCAA, #A626A4)
$code-attr-color = scheme(#d7ba7d, #C18401)
$code-litteral-color = scheme(#b5cea8, #986801)
$code-params-color = scheme(#d7ba7d, #C18401)

$code-meta = scheme(#88DCFE, #88DCFE)
$code-meta-keyword = scheme(#C586C0, #C586C0)
$code-meta-string = scheme(#CE9178, #50A14F)
