$body-background = scheme(#121212, #FDFDFD)
$body-foreground = scheme(#BABABA, #3B3B3B)
$font-weight = normal

$logo-foreground = scheme(white, black)

$tab-background =$body-background
$tab-foreground = scheme(#CACACA, #202020)
$tab-underline = scheme(#faebd7, #ffd298)
$tab-hover-background = scheme(#faebd7, #ffd298)
$tab-hover-foreground = scheme(black, black)
$tab-current-background =$body-background
$tab-current-foreground = scheme(white, black)

$link-foreground = scheme(#f7c684, #ff9000)
$link-underline = scheme(#f7c684, #ff9000)
$link-hover-foreground = scheme(black, black)
$link-hover-background = scheme(#f7c684, #faebd7)
$link-visited-foreground = scheme(#faebd7, #c46e00)
$link-visited-underline = scheme(#faebd7, #c46e00)

$footer-foreground = scheme(#707070, #C0C0C0)

$post-border = scheme(#050505, #F5F5F5)
$click-text = scheme(#505050, #D0D0D0)

$code-default-color = scheme(purple, pink)
$code-attribute-color = scheme(greenyellow, red)
$code-selector-color = scheme(cyan, blue)
$code-builtin-color = scheme(yellow, orange)
$code-number-color = scheme(red, purple)
$code-block-border-color = scheme(darkgray, #F0F0F0)
$code-block-background-color = scheme(black, white)
