.galleries {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	list-style: none;
}

.gallery {
	display:grid;
	justify-items: center;
	padding: 1em;
}

.gallery a {
	display:grid;
	justify-items: center;
	text-decoration: none;
	padding: 1em;
}
.gallery-name {
	text-decoration: underline;
}
.gallery-size {
	color: $footer-foreground;
}

.gallery-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	list-style: none;
}

.gallery-item a {
	cursor: zoom-in;
}

.gallery-item img {
	display: block;
	margin: 1em;
}

.gallery-item figcaption {
	display: none;
}

.gallery-item blockquote {
	display: none;
}
