* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Play", sans-serif;
	font-weight:$font-weight;
}


body {
	display: grid;
	background-color: $body-background;
	color: $body-foreground;
}

a {
	color: $link-foreground;
	text-decoration: underline;
	text-decoration-color: $link-underline;
}

a:visited {
	color: $link-visited-foreground;
	text-decoration-color: $link-visited-underline;
}

a:hover {
	color: $link-hover-foreground;
	background-color: $link-hover-background;
}

.offsite {
	padding-right: 14px;
}

header {
	margin-top: 0.5em;
	margin-bottom: 2em;
}

.branding {
	justify-self: center;
}

.branding h1 {
	font-weight: bold;
	font-size: 3em;
}

.branding h1 a {
	text-decoration: none;
	background-color: $body-background;
	color: $logo-foreground;
}

.branding h1 a:visited {
	color: $logo-foreground;
	background-color: $body-background;
}

.branding h1 a:hover {
	color: $logo-foreground;
	background-color: $body-background;
}

.branding h2 {
	font-weight: lighter;
	font-size: 1em;
	/* prevent auto-sizing on android */
	height: 1em;
	margin-left: 0.25em;
}

.tabs {
	display: flex;
	align-items: flex-start;
	justify-self: center;
	white-space: nowrap;
	margin-bottom: 2em;
}

.tab-separator {
	display: none;
}

.tab {
	text-decoration: none;
	color: $tab-foreground;
	background-color: $tab-background;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 0.1em;
	margin-right: 2em;
	border-bottom: 1px solid $tab-underline;
}

.tab:first-child {
	margin-left: 0;
}

.tab:last-child {
	margin-right: 0;
}

.current-tab {
	border-bottom: 0.35em solid $tab-underline;
	font-weight: bold;
	color: $tab-current-foreground;
	background-color: $tab-current-background;
}

.tab:visited {
	color: $tab-foreground;
	background-color: $tab-background;
}

.current-tab:visited {
	color: $tab-current-foreground;
	background-color: $tab-current-background;
}

.tab:hover {
	color: $tab-hover-foreground;
	background-color: $tab-hover-background;
}

.post-title h2 {
	display: inline;
}

main {
	display: grid;
	justify-self: center;
	max-width: 40em;
	width: 90%;
	color: $body-foreground;
}

.page-title {
	display: inline-block;
	font-size: 1.25em;
	padding-top: 0.1em;
	border-bottom: 0.24em solid $tab-underline;
	font-weight: bold;
	width: auto;
	text-align: center;
	justify-self: center;
	color: $tab-foreground;
	padding-right: 1em;
	padding-left: 1em;
	margin-bottom: 1.5em;
}

.posts {
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 1em;
}

.previous-link {
	display: block;
    width: fit-content;
	padding: 0.5em;
	padding-bottom: 0;
	margin-top: 0.5em;
}

.previous-link + .posts {
	margin-top: 0em;
}

.next-link {
	display: block;
	text-align: right;
	padding: 0.5em;
	justify-self: right;
    width: fit-content;
}

main h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.post-container {
	list-style: none;
}

.post {
	background: $body-background;
	padding: 0.5em;
	border-radius: 0.5em;
	box-shadow: inset 0px 0px 3px 2px $post-border;
	position:relative;
}
.post-content {
	overflow: auto;
}

.post+.post {
	margin-top: 10px;
}

.post-title {
	font-size: 1.5em;
	letter-spacing: 0.050em;
}

.permalink {
	display: inline-block;
	padding: 0.5em;
}

.search-result {
	width: 100%;
}

.post>summary {
	cursor: pointer;
}

.post>summary:hover {
	color:$tab-current-foreground;
}

.post>summary:after {
	display: block;
	font-size: 0.6em;
	margin-top: 2px;
	margin-left: 1.5em;
	letter-spacing: 0.10em;
	color: $click-text;
	content: 'click to expand';
}

.post[open]>summary:after {
	display: none;
}

.post>summary {
	list-style: none;
	width: 100%;
}

.post[open]>summary {
	margin-bottom: 0.5em;
}

.posted {
	display:block;
	font-weight: lighter;
	font-size: 0.65em;
}

p {
	font-family: "Segoe UI", "Liberation Sans", sans-serif;
	margin-top: 0.5em;
}

.tag-cloud {
	justify-self: center;
	width: 90%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;

	text-align: center;
	font-size: 0.75em;
	background: $body-background;
	border-radius: 0.5em;
	box-shadow: inset 0px 0px 3px 2px $post-border;
}

.cloud-head {
	padding: 0;
	margin: 0;
}

footer {
	display: grid;
	margin-top: 4em;
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 3px;
	justify-self: center;
	width: 90%;
	max-width: 40em;
	text-align: center;
}

footer small {
	font-size: 0.75em;
	color: $footer-foreground;
	padding-bottom: 2em;
}

.wp-block-post-featured-image {
	display: none;
}

.not-found {
	margin-top: 2em;
	text-align: center;
	margin-bottom: 2em;
}

img {
	display: block;
}

.tags {
	margin-left: 0.25em;
	position:absolute;
	bottom: 1em;
	left: 100%;
}

.see-also {
	font-size: 80%;
}

.tag-list {
}

.tag {
	list-style: none;
}

.search {
	margin: 1em;
	margin-top: 2em;
	margin-bottom: 3em;
	font-size: 0.75em;
	padding: 2px;
}

#searchform
{
	display: grid;
	grid-template-columns: 1fr auto auto 25px 1fr;
	line-height: 1.6em;
}

#s {
	grid-column-start: 3;
	grid-column-end : 5;
	grid-row: 1;
	padding-left: 3px;
	line-height: 1.6em;
	justify-self: stretch;
	align-self : center;
	color: $search-foreground;
	background-color: $search-background;
	border: 1px solid $footer-foreground;
	border-radius: 5px;
}

#slp {
	margin-right: 2em;
}

#sl {
	margin-right: 1em;
	grid-column-start: 2;
	grid-column-end : 2;
	align-self : center;
	white-space: nowrap;
}

#searchsubmit {
	border: 0px;
	grid-row: 1;
	grid-column-start: 4;
	grid-column-end : 4;
	line-height: 1.6em;
	width: 25px;
	height: 25px;
	justify-self: right;
	align-self : center;
}

.search-hint {
	font-style: italic;
	margin: 1em;
	margin-left: 3em;
}
