.shcb-language {
	display: none;
}

.wp-block-code {
	border: 1px solid $code-block-border-color;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: $code-block-background-color;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	white-space: pre;
}

.hljs {
	color $code-default-color
}

.hljs-selector-tag
	color $code-selector-color

.hljs-attribute
	color $code-attribute-color

.hljs-number
	color $code-number-color

.hljs-built_in
	color $code-builtin-color
