.shcb-language {
	display: none;
}

.wp-block-code {
	border: 1px solid $code-block-border-color;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: $code-block-background-color;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	white-space: pre;
 	white-space: pre-wrap;
}

.hljs {
	color $code-default-color
}

.language-cmake {
	color: $body-foreground;
}

.language-javascript {
	color: $body-foreground;
}

.language-cpp {
	color: $body-foreground;
}

.hljs-selector-tag
	color $code-selector-color

.hljs-attribute
	color $code-attribute-color

.hljs-number
	color $code-number-color

.hljs-built_in
	color $code-builtin-color

.hljs-comment
	color $code-comment-color

.hljs-keyword
	color $code-keyword-color

.hljs-string
	color $code-string-color

.hljs-subst
	color $code-subst-color

.hljs-function
	color $code-function-color

.hljs-title
	color $code-title-color

.hljs-params
	color $code-params-color

.hljs-attr
	color $code-attr-color

.hljs-litteral
	color $code-litteral-color

.hljs-meta
	color $code-meta

.hljs-meta-keyword
	color $code-meta-keyword

.hljs-meta-string
	color $code-meta-string
